dein
tags*
.netrwhist
pythonpath.vim
nodepath.vim
autoload/plugged/*
vimspector-config/gadgets/*
paths.vim
session
wiki/
pack/
utils/java/*
.config/joplin-desktop
.config/'Microsoft\VisualStudio Services'
.config/Microsoft\VisualStudio Services/8.0/Cache
.config/Microsoft\VisualStudio Services/8.0/Cache/08f90efc-ccf7-a3c5-0963-672397c3314f/00000038-0000-8888-8000-000000000000
.config/Microsoft\VisualStudio Services/8.0/Cache/08f90efc-ccf7-a3c5-0963-672397c3314f/00000038-0000-8888-8000-000000000000/LocationServiceData.config
.config/Microsoft\VisualStudio Services/8.0/Cache/a5ca35eb-148e-4ccd-bbb3-d31576d75958/951917ac-a960-4999-8464-e3f0aa25b381
.config/Microsoft\VisualStudio Services/8.0/Cache/a5ca35eb-148e-4ccd-bbb3-d31576d75958/951917ac-a960-4999-8464-e3f0aa25b381/LocationServiceData.config
.config/Microsoft\VisualStudio Services/8.0/Cache/LocationServerMap.xml
.config/btop/btop.log
.config/xbuild
.config/Microsoft\VisualStudio Services/8.0/Cache
.config/Microsoft\VisualStudio Services/8.0/Cache/08f90efc-ccf7-a3c5-0963-672397c3314f/00000038-0000-8888-8000-000000000000/LocationServiceData.config
.config/Microsoft\VisualStudio Services/8.0/Cache/08f90efc-ccf7-a3c5-0963-672397c3314f/00000038-0000-8888-8000-000000000000/LocationServiceData.config
.config/Microsoft\VisualStudio Services/8.0/Cache
.config/Microsoft\VisualStudio Services/8.0/Cache/a5ca35eb-148e-4ccd-bbb3-d31576d75958/951917ac-a960-4999-8464-e3f0aa25b381/LocationServiceData.config
.DS_Store
